In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns


# 1. Merge Data

In [7]:
hdi_df = pd.read_csv('data/HDR21-22_Composite_indices_complete_time_series.csv')
hdi_df.sample(3)

,iso3,country,hdicode,region,hdi_rank_2021,hdi_1990,hdi_1991,hdi_1992,hdi_1993,hdi_1994,...,mf_2012,mf_2013,mf_2014,mf_2015,mf_2016,mf_2017,mf_2018,mf_2019,mf_2020,mf_2021
39,CPV,Cabo Verde,Medium,SSA,128.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,LBN,Lebanon,High,AS,112.0,NaN,NaN,NaN,NaN,NaN,...,19.73,18.94,16.94,15.45,14.75,14.40,13.10,12.40,12.40,12.40
138,PHL,Philippines,Medium,EAP,116.0,0.598,0.599,0.603,0.606,0.609,...,5.55,5.55,7.66,7.77,8.16,8.45,8.39,8.77,8.77,8.77

In [8]:
iq_df = pd.read_csv('data/National_IQ.csv')
iq_df.sample(3)

,Rank,Country,Measured IQ,IQ data quality,SchAch,SA direct,SA scaled,SA data quality,Final IQ,Final IQ.1
80,80.5,Tonga,86.0,2.0,NaN,NaN,NaN,NaN,86,86.0
141,142.0,Nigeria,71.0,13.0,302.6,65.9,72.0,4.0,71.2,71.2
99,99.5,Peru,85.0,9.0,372.0,76.6,80.4,2.0,84.2,84.2

# 2. INTRODUCTION

In the introduction, provide the description of the problem addressed (the context of your data) and the project objectives.
Very briefly describe the analysis design and how it accomplishes the stated objectives. 
State your research hypotheses in a human-understandable language.
What  can the results be used for?

# 3. DATA CLEANING AND PREPARATION

What did you need to do to clean and prepare your dataset?
Missing values, duplicates, inconsistent data types…

# 4.  DESCRIPTIVE STATISTICS

## 4.1  Univariate analysis
Histogram and metrics introduced in class. Outliers identification. Interpret and discuss your results.

## 4.2  Bivariate analysis
Scatter plots and correlation for pairs of variables of interest. Interpret and discuss your results.


# 5.  DISCUSSION AND PRELIMINARY CONCLUSIONS 

Discuss the initial insights and how they align with the objectives set in the Introduction. Briefly address any limitations or challenges encountered in the data or analysis. Reflect on the implications of these findings and how they might guide future research directions or applications